{
  "presets": [
    ["@babel/env", {
      "loose": true,
      "targets": {
        "node": "8.11.3"
      }
    }],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
