@charset "UTF-8";
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
#app .flexbody {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}
#app .flexheader {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
#app .flexheader > * {
  margin: 0 20px;
}
#app .name {
  width: 100%;
  min-width: 400px;
  max-width: 850px;
  flex: 1 1 400px;
  color: #08497a;
  height: 4rem;
  font-size: 4rem;
  white-space: nowrap;
}
#app .contact_info {
  height: 4rem;
  font-size: 1.33333333rem;
  width: 15rem;
}
#app .contact_info .contact_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}
#app .mainbar,
#app .sidebar {
  margin: 20px;
}
#app .mainbar {
  flex: 1 1 auto;
  min-width: 400px;
  max-width: 850px;
}
#app .mainbar .profile {
  font-size: 1rem;
  line-height: 1.5rem;
}
#app .mainbar .education,
#app .mainbar .projects,
#app .mainbar .work {
  page-break-inside: avoid;
}
#app .mainbar .education .section_header,
#app .mainbar .projects .section_header,
#app .mainbar .work .section_header {
  padding: 25px 0 10px 0;
}
#app .mainbar .education .section_header hr,
#app .mainbar .projects .section_header hr,
#app .mainbar .work .section_header hr {
  display: none;
}
#app .mainbar .education .info_box,
#app .mainbar .projects .info_box,
#app .mainbar .work .info_box {
  padding: 15px;
}
#app .mainbar .education .info_box:nth-child(2n+1),
#app .mainbar .projects .info_box:nth-child(2n+1),
#app .mainbar .work .info_box:nth-child(2n+1) {
  background-color: rgba(14, 122, 204, 0.12);
  border: 1px solid rgba(14, 122, 204, 0.03);
}
#app .mainbar .education .info_box:nth-child(2n),
#app .mainbar .projects .info_box:nth-child(2n),
#app .mainbar .work .info_box:nth-child(2n) {
  background-color: rgba(14, 122, 204, 0.03);
  border: 1px solid rgba(14, 122, 204, 0.03);
}
#app .mainbar .education .info_box ul li,
#app .mainbar .projects .info_box ul li,
#app .mainbar .work .info_box ul li {
  padding: 5px 0;
}
#app .mainbar .info_box .info_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.33333333rem;
}
#app .sidebar {
  width: 15rem;
  height: 100%;
  flex: 0 0 auto;
}
#app .sidebar .skills,
#app .sidebar .classes,
#app .sidebar .books {
  page-break-inside: avoid;
}
#app .sidebar .skills .skills_table,
#app .sidebar .classes .skills_table,
#app .sidebar .books .skills_table,
#app .sidebar .skills .classes_table,
#app .sidebar .classes .classes_table,
#app .sidebar .books .classes_table,
#app .sidebar .skills .books_table,
#app .sidebar .classes .books_table,
#app .sidebar .books .books_table {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
#app .sidebar .skills .skills_table .skill_row,
#app .sidebar .classes .skills_table .skill_row,
#app .sidebar .books .skills_table .skill_row,
#app .sidebar .skills .classes_table .skill_row,
#app .sidebar .classes .classes_table .skill_row,
#app .sidebar .books .classes_table .skill_row,
#app .sidebar .skills .books_table .skill_row,
#app .sidebar .classes .books_table .skill_row,
#app .sidebar .books .books_table .skill_row,
#app .sidebar .skills .skills_table .class_row,
#app .sidebar .classes .skills_table .class_row,
#app .sidebar .books .skills_table .class_row,
#app .sidebar .skills .classes_table .class_row,
#app .sidebar .classes .classes_table .class_row,
#app .sidebar .books .classes_table .class_row,
#app .sidebar .skills .books_table .class_row,
#app .sidebar .classes .books_table .class_row,
#app .sidebar .books .books_table .class_row,
#app .sidebar .skills .skills_table .books_row,
#app .sidebar .classes .skills_table .books_row,
#app .sidebar .books .skills_table .books_row,
#app .sidebar .skills .classes_table .books_row,
#app .sidebar .classes .classes_table .books_row,
#app .sidebar .books .classes_table .books_row,
#app .sidebar .skills .books_table .books_row,
#app .sidebar .classes .books_table .books_row,
#app .sidebar .books .books_table .books_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 0.8rem;
  padding-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#app .sidebar .skills .skills_table .skill_row .class_name,
#app .sidebar .classes .skills_table .skill_row .class_name,
#app .sidebar .books .skills_table .skill_row .class_name,
#app .sidebar .skills .classes_table .skill_row .class_name,
#app .sidebar .classes .classes_table .skill_row .class_name,
#app .sidebar .books .classes_table .skill_row .class_name,
#app .sidebar .skills .books_table .skill_row .class_name,
#app .sidebar .classes .books_table .skill_row .class_name,
#app .sidebar .books .books_table .skill_row .class_name,
#app .sidebar .skills .skills_table .class_row .class_name,
#app .sidebar .classes .skills_table .class_row .class_name,
#app .sidebar .books .skills_table .class_row .class_name,
#app .sidebar .skills .classes_table .class_row .class_name,
#app .sidebar .classes .classes_table .class_row .class_name,
#app .sidebar .books .classes_table .class_row .class_name,
#app .sidebar .skills .books_table .class_row .class_name,
#app .sidebar .classes .books_table .class_row .class_name,
#app .sidebar .books .books_table .class_row .class_name,
#app .sidebar .skills .skills_table .books_row .class_name,
#app .sidebar .classes .skills_table .books_row .class_name,
#app .sidebar .books .skills_table .books_row .class_name,
#app .sidebar .skills .classes_table .books_row .class_name,
#app .sidebar .classes .classes_table .books_row .class_name,
#app .sidebar .books .classes_table .books_row .class_name,
#app .sidebar .skills .books_table .books_row .class_name,
#app .sidebar .classes .books_table .books_row .class_name,
#app .sidebar .books .books_table .books_row .class_name {
  font-size: 0.8rem;
}
#app .sidebar .skills .skills_table .skill_row .class_info,
#app .sidebar .classes .skills_table .skill_row .class_info,
#app .sidebar .books .skills_table .skill_row .class_info,
#app .sidebar .skills .classes_table .skill_row .class_info,
#app .sidebar .classes .classes_table .skill_row .class_info,
#app .sidebar .books .classes_table .skill_row .class_info,
#app .sidebar .skills .books_table .skill_row .class_info,
#app .sidebar .classes .books_table .skill_row .class_info,
#app .sidebar .books .books_table .skill_row .class_info,
#app .sidebar .skills .skills_table .class_row .class_info,
#app .sidebar .classes .skills_table .class_row .class_info,
#app .sidebar .books .skills_table .class_row .class_info,
#app .sidebar .skills .classes_table .class_row .class_info,
#app .sidebar .classes .classes_table .class_row .class_info,
#app .sidebar .books .classes_table .class_row .class_info,
#app .sidebar .skills .books_table .class_row .class_info,
#app .sidebar .classes .books_table .class_row .class_info,
#app .sidebar .books .books_table .class_row .class_info,
#app .sidebar .skills .skills_table .books_row .class_info,
#app .sidebar .classes .skills_table .books_row .class_info,
#app .sidebar .books .skills_table .books_row .class_info,
#app .sidebar .skills .classes_table .books_row .class_info,
#app .sidebar .classes .classes_table .books_row .class_info,
#app .sidebar .books .classes_table .books_row .class_info,
#app .sidebar .skills .books_table .books_row .class_info,
#app .sidebar .classes .books_table .books_row .class_info,
#app .sidebar .books .books_table .books_row .class_info {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
}
#app .sidebar .skills .skills_table .books_row,
#app .sidebar .classes .skills_table .books_row,
#app .sidebar .books .skills_table .books_row,
#app .sidebar .skills .classes_table .books_row,
#app .sidebar .classes .classes_table .books_row,
#app .sidebar .books .classes_table .books_row,
#app .sidebar .skills .books_table .books_row,
#app .sidebar .classes .books_table .books_row,
#app .sidebar .books .books_table .books_row {
  font-size: 12px;
  flex-direction: column;
}
#app .sidebar .skills .skills_table .books_row .book_row,
#app .sidebar .classes .skills_table .books_row .book_row,
#app .sidebar .books .skills_table .books_row .book_row,
#app .sidebar .skills .classes_table .books_row .book_row,
#app .sidebar .classes .classes_table .books_row .book_row,
#app .sidebar .books .classes_table .books_row .book_row,
#app .sidebar .skills .books_table .books_row .book_row,
#app .sidebar .classes .books_table .books_row .book_row,
#app .sidebar .books .books_table .books_row .book_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
#app .sidebar .skills .skills_table .books_row .book_row .book_title,
#app .sidebar .classes .skills_table .books_row .book_row .book_title,
#app .sidebar .books .skills_table .books_row .book_row .book_title,
#app .sidebar .skills .classes_table .books_row .book_row .book_title,
#app .sidebar .classes .classes_table .books_row .book_row .book_title,
#app .sidebar .books .classes_table .books_row .book_row .book_title,
#app .sidebar .skills .books_table .books_row .book_row .book_title,
#app .sidebar .classes .books_table .books_row .book_row .book_title,
#app .sidebar .books .books_table .books_row .book_row .book_title {
  font-size: 16px;
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}
#app .sidebar .skills .skills_table .books_row .book_row .book_rating_wrapper,
#app .sidebar .classes .skills_table .books_row .book_row .book_rating_wrapper,
#app .sidebar .books .skills_table .books_row .book_row .book_rating_wrapper,
#app .sidebar .skills .classes_table .books_row .book_row .book_rating_wrapper,
#app .sidebar .classes .classes_table .books_row .book_row .book_rating_wrapper,
#app .sidebar .books .classes_table .books_row .book_row .book_rating_wrapper,
#app .sidebar .skills .books_table .books_row .book_row .book_rating_wrapper,
#app .sidebar .classes .books_table .books_row .book_row .book_rating_wrapper,
#app .sidebar .books .books_table .books_row .book_row .book_rating_wrapper {
  width: 60px;
  height: 10px;
  border: 1px solid #0e7acc;
}
#app .sidebar .skills .skills_table .books_row .book_row .book_rating_wrapper .book_rating,
#app .sidebar .classes .skills_table .books_row .book_row .book_rating_wrapper .book_rating,
#app .sidebar .books .skills_table .books_row .book_row .book_rating_wrapper .book_rating,
#app .sidebar .skills .classes_table .books_row .book_row .book_rating_wrapper .book_rating,
#app .sidebar .classes .classes_table .books_row .book_row .book_rating_wrapper .book_rating,
#app .sidebar .books .classes_table .books_row .book_row .book_rating_wrapper .book_rating,
#app .sidebar .skills .books_table .books_row .book_row .book_rating_wrapper .book_rating,
#app .sidebar .classes .books_table .books_row .book_row .book_rating_wrapper .book_rating,
#app .sidebar .books .books_table .books_row .book_row .book_rating_wrapper .book_rating {
  height: 10px;
  background-color: rgba(14, 122, 204, 0.12);
}
#app .section_header {
  padding-top: 10px;
}
n #app .section_header.align_left .item_wrapper {
  justify-content: flex-start;
}
n #app .section_header.align_left .item_wrapper .header_item {
  padding-right: 10px;
}
#app .section_header .item_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#app .section_header .header_item {
  display: inline-block;
  flex-grow: 1;
  text-align: right;
}
#app .section_header .styleButton {
  height: 2rem;
  line-height: 2rem;
  padding: 0 5px;
  font-size: 0.8rem;
  display: inline-block;
  text-align: center;
  background-color: rgba(14, 122, 204, 0.12);
  border-radius: 7px;
  z-index: 10;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}
#app .section_header .menu_wrapper {
  position: relative;
}
#app .section_header .menu_wrapper .options_wrapper {
  position: absolute;
  z-index: 1000;
  right: 0;
  width: 90px;
}
#app .section_header .menu_wrapper .options_wrapper .option {
  z-index: 10;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
#app .section_header .menu_wrapper .options_wrapper .option:hover {
  background-color: rgba(204, 204, 204, 0.9);
}
#app .section_header .header_title {
  font-size: 2rem;
  line-height: 2rem;
  color: #08497a;
  flex-grow: 0;
}
#app .section_header hr {
  opacity: 0.3;
  color: #0e7acc;
}
#app a {
  text-decoration: none;
  border-bottom: 2px solid #0e7acc;
  color: #0e7acc;
  line-height: 2rem;
  margin: 4px 0;
}
@media (max-width: 750px) {
  #app {
    width: 80%;
    margin: 0 auto;
  }
  #app .flexbody {
    flex-wrap: wrap-reverse;
  }
  #app .sidebar {
    width: 90%;
  }
  #app .mainbar {
    min-width: 0;
  }
  #app .mainbar .profile .section_header {
    display: none;
  }
  #app .name {
    font-size: 3.6rem;
  }
}
@media (max-width: 500px) {
  #app .name {
    font-size: 2.8rem;
    white-space: normal;
    text-align: center;
  }
}
@media print {
  html {
    font-size: 50%;
  }
  #app {
    width: 90%;
  }
  #app .flexheader {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
  #app .sidebar {
    margin-top: -20px !important;
  }
  #app .section_header {
    padding-top: 10px !important;
  }
  #app .class_row,
  #app .skill_row,
  #app .book_row {
    padding-top: 5px !important;
  }
  #app .class_row:nth-child(2n+1),
  #app .skill_row:nth-child(2n+1),
  #app .book_row:nth-child(2n+1) {
    border-bottom: 1px solid rgba(14, 122, 204, 0.12);
  }
  #app .class_row:nth-child(2n),
  #app .skill_row:nth-child(2n),
  #app .book_row:nth-child(2n) {
    border-bottom: 1px solid rgba(14, 122, 204, 0.12);
  }
  #app .info_box {
    padding: 5px !important;
  }
  #app .info_box ul li {
    padding: 2px 0 !important;
  }
  #app .classes {
    display: none;
  }
}
